.headerbar {
  &__navimg {
    display: flex;
  }
  &__form {
    background: white url(../../assets/icons/search.svg) left no-repeat;
    padding-left: 17px;
  }
  &__upload {
    display: flex;
    justify-content: center;
    background-color: #0095ff;
    border-radius: 5px;
    gap: 1rem;
  }
}
