@font-face {
  font-family: avenir-Next-Reg;
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: avenir-Next-Bold;
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: avenir-Next-Demi;
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
p {
  font-family: avenir-Next-Reg;
}
