@font-face {
  font-family: avenir-Next-Reg;
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: avenir-Next-Bold;
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: avenir-Next-Demi;
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf");
}
