@use "./styles/partials/_breakpoints.scss" as *;
.Acidegroup {
  display: flex;

  &__Acide {
    @include phonescreen {
      display: none;
    }
    @include tabletscreen {
      display: none;
    }
  }
  &__Underneath {
    @include computerscreen {
      display: none;
    }
  }
}
